*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    margin: auto;
}

canvas{
    margin: 0.1%;
    border: 1px solid black;
}

.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

#drawer{
    position: fixed;
    bottom: 10px;
}