*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: black !important;
}

canvas{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto; 
}


#pocket-chat{
    margin-top: 10%;
}

.chat{
    margin-top: 10%;
}

#chat-window{
    height: 200px;
    max-width: 250px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
    }

#output p{
    word-wrap: break-word;
    padding-right: 20px;
}

.controls{
    position: fixed;
    bottom: 0px;
}

@media screen and (max-width: 425px) {
	#chat-window {
        height: 100px;
        max-width: 100px;
	}
}

.gamelevel , #gamelan, #hostkey{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#gameend{
    height: 50%;
    width: 100%;
    margin-top: 10%;
}

#gameend h1{
    font-size: 60px;
}